---
import Hero from "../components/Hero.astro";
import RootLayout from "../layouts/RootLayout.astro";

---
<RootLayout title="Home|MolysTechie" description="Home Page">
	<main id='home'>
		<Hero />
		<section id='developer' class="min-h-screen flex flex-col justify-center items-center">
			<h1 class="text-4xl font-bold">Developer Resources Hub for Practicing and Learning</h1>
			<div class="">
				<h2>JSON Placeholder for coding practices</h2>
				<p>
					Check example of JSON, visit
					<a href="/developer/json-examples" target="_blank" class="text-xl text-blue-500">JSON</a>
				</p>
			</div>

		</section>
	</main>
</RootLayout>
