---
import Hero from "../components/Hero.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Home|MolysTechie" description="Home Page">
	<main id='home'>
		<!-- <Hero /> -->
		<section class='w-full h-screen flex flex-col md:flex-row md:justify-center md:items-center gap-5 text-black px-4'>
			<section class='flex flex-col flex-1 items-center justify-center  p-2'>
				<h1 class='mb-10'>
					<span class='block font-bold text-5xl xl:text-7xl tracking-wide mb-5'>
						Better design for your digital products
					</span>
					Turning your idea into Reality. We bring together the teams from the global tech industry.
				</h1>
				<a href={'/molystechie/portfolio'} class='text-white bg-[#6c708b] font-semibold rounded-full px-5 py-4 hover:bg-[#b4b7c5] hover:shadow-xl hover:border-2 border-[#6c708b] hover:text-black'>
					See our works
				</a>
			</section>
			<section class='flex-1'>
				<img src={'/website.svg'} width={480} height={480} alt='hero image' class='animate-trans-up_down '/>
			</section>
		</section>


		<!-- About -->
		<section id='about' class='w-3/4 mx-auto flex flex-col items-center gap-20 p-5 text-black'>
			<h1 class="text-4xl font-bold">About</h1>
			<div id='img-container' class=''>
				<img id="about-image" src='/website.svg' alt='hero image'  class=''/>
				<div id='imgtext' class="absolute bottom-5 left-38%] md:left-[40%] lg:left-[40%] right-0">
					<h1>Design your digital with Us</h1>
					<p>Let the world know your product</p>
				</div>
			</div>
			<div class='flex flex-col items-center justify-start md:flex-row md:justify-center md:items-start gap-5'>
			  <div class="flex flex-col gap-y-2 items-center ">
				  <h1>Who are we?</h1>
				  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis quos, totam eveniet quasi reprehenderit quod quia quo ut minus pariatur non, laboriosam deserunt. Quisquam, praesentium veritatis quia neque repellendus rem.</p>
			  </div>
			  <div class="flex flex-col gap-y-2 items-center ">
				  <h1>What we do?</h1>
				  <p>
				  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum excepturi nihil consequuntur adipisci unde iste labore voluptatem, sequi iusto saepe deserunt libero numquam doloremque ipsa dolore error quod eum praesentium.</p>
				  <div class="">
				  <p>- Creative Illustrations</p>
				  <p>- Dynamic Websites</p>
				  <p>- Fast and Handy Mobile Apps</p>
				  </div>
				  <a href={'/molystechie/contact'} class=' text-white bg-[#6c708b] font-semibold rounded-full px-5 py-2 hover:bg-[#b4b7c5] hover:shadow-xl hover:border-2 border-[#6c708b] hover:text-black '>
					  Contact Us
				  </a>
			  </div>
			</div>
		</section>

		<!-- Developer -->
		<section id='developer' class="min-h-screen flex flex-col justify-center items-center text-center">
			<h1 class="text-4xl font-bold">Developer Resources Hub for Practicing and Learning</h1>
			<div class="">
				<h2>JSON Placeholder for coding practices</h2>
				<p>
					Check example of JSON, visit
					<a href="/developer/json-examples" target="_blank" class="text-xl text-blue-500">JSON</a>
				</p>
			</div>

		</section>
	</main>
</RootLayout>

<style>
	img{
	animation: move 5s infinite ease alternate;
}
@keyframes move{
	from{transform: translateY(-15px)}
	to{transform: translateY(15px)}
}

#img-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 1024px;
	height:360px;
	position: relative;
}

#imgtext{
	position: absolute;
	left: 39%;
	bottom: 10px;
}

#about-image{
	width: 640px;
	height: 360px;
	object-fit: contain;
}
</style>
