---

---
<section class='w-4/5 mx-auto h-screen flex flex-col md:flex-row md:justify-center md:items-center gap-10 text-black px-4 mt-10'>
    <section class='flex flex-col flex-1 items-center justify-center  p-2'>
        <h1 class='mb-5'>
            <span class='block font-bold text-5xl xl:text-7xl tracking-wide mb-5'>
                Better design for your digital products
            </span>
            Turning your idea into Reality. We bring together the teams from the global tech industry.
        </h1>
        <p class="mb-5">Design your Digital Product with Us. Let the World know your Product</p>
        <a href={'/#portfolio'} class='text-white bg-[#6c708b] font-semibold rounded-full px-5 py-4 hover:bg-[#b4b7c5] hover:shadow-xl hover:border-2 border-[#6c708b] hover:text-black'>
            See our works
        </a>
    </section>
    <section class='flex-1'>
        <img src={'/website.svg'} width={480} height={480} alt='hero image' class='animate-trans-up_down '/>
    </section>
</section>

<style>
   	img{
	animation: move 5s infinite ease alternate;
}
@keyframes move{
	from{transform: translateY(-15px)}
	to{transform: translateY(15px)}
}

</style>