---

---
<section class='relative w-[1024px] h-[360px]'>
    <img src='/bgcover.png' width="1024" height="480" alt='hero image'/>
    <!-- <section class="flex items-center justify-center h-screen mb-12  bg-[url('/bgcover.png')] bg-fixed bg-center bg-cover bg-no-repeat"></section> -->
    {/* overlay */}
    <!-- <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/70 z-[2]" /> -->
    <div class="absolute bottom-5 left-[38%] md:left-[40%] lg:left-[40%] right-0">
        <h1>Design your digital with Us</h1>
        <p>Let the world know your product</p>
      </div>
</section>

<style>
    img{
        
    }
</style>