---
import { log } from "astro/dist/core/logger/core";
import RootLayout from "../../../layouts/RootLayout.astro";
// const people = await fetch('http://localhost:3001/molystechie.github.io/api/json').then(res => res.json());
let people;
try {
    const res = await fetch('/api/json');
    // const res = await fetch('http://localhost:3001/molystechie.github.io/api/json');
    people = await res.json();

} catch (error) {
    console.log(error);
    
}
---
<script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
<RootLayout title="JSON examples" description='Shows JSON Examples'>
    <main class="min-h-screen flex flex-col justify-center items-center">
        <h1>JSON EXAMPLES</h1>
        <code>
            {
                JSON.stringify(people,null,2)
            }
        </code>
        
        <div class="grid mt-5">
            <p>The API above JSON, its Endpoint : http://molystechie.github.io/api/json
            </p>
            <p class="text-center">Visit the 
                <a href="/api/json" target="_blank" class="text-blue-500 text-md">Endpoint</a>
            </p>
        </div>
    </main>
</RootLayout>