---
// Component Script (JavaScript)
import Head from '../components/Head.astro';
import Navbar2 from '../components/Navbar2.astro';
import Footer from '../components/Footer.astro';

export interface BaseLayoutProps {
    title:string;
    description:string;
}

const {title, description} = Astro.props as BaseLayoutProps;
---

<html>
  <Head seoTitle= {title} seoDescription={description} />
  <body class="bg-[#b4b7c5]">
    <>
    <Navbar2 />
      <!-- your content is injected in <slot />  -->
      <slot /> 
      <Footer />
    </>
  </body>
</html>